html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: Thesignature;
  src: url("../fonts/Thesignature.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 16px;
  font-family: "Arial", sans-serif;
}

.txt-normal,
.txt-small {
  color: #6d6875;
}

#products .txt-normal,
footer .txt-small {
  color: #fff;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0px;
  color: #6d6875;
  margin-bottom: 100px;
}

h2::after {
  content: "";
  display: block;
  width: 50%;
  height: 1px;
  background-color: #6d6875;
  margin: 50px auto 0;
}

nav a,
h2,
#products h3,
#contact h4 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  text-transform: uppercase;
}

div.logo img {
  max-width: 400px;
  padding: 4em 4em 0 4em;
}

div.social-icons img {
  width: 50px;
}

div.wrapper {
  margin: 0 auto;
  width: 100%;
  padding: 100px 20px;
}

.txt-normal {
  font-size: 16px;
}

.txt-small {
  font-size: 14px;
}

h2 {
  font-size: 24px;
}

h3,
h4,
nav a {
  font-size: 20px;
}

#contact h4,
#contact .contact-item {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  div.logo img {
    max-width: 100%;
    padding: 4em;
  }
  div.social-icons img {
    width: 70px;
  }
  div.wrapper {
    width: 80%;
    padding: 200px 0;
  }
  .txt-normal {
    font-size: 18px;
  }
  .txt-small {
    font-size: 14px;
  }
  h2 {
    font-size: 28px;
    margin-bottom: 200px;
  }
  h3,
  h4,
  nav a {
    font-size: 24px;
  }
}
@media (min-width: 1024px) {
  div.social-icons img {
    width: 90px;
  }
  div.wrapper {
    width: 60%;
  }
  .txt-normal {
    font-size: 20px;
  }
  .txt-small {
    font-size: 16px;
  }
  h2 {
    font-size: 32px;
  }
  h3,
  h4,
  nav a {
    font-size: 28px;
  }
}
@media (min-width: 1200px) {
  .txt-normal {
    font-size: 22px;
  }
  .txt-small {
    font-size: 18px;
  }
  h2 {
    font-size: 36px;
  }
  h3,
  h4,
  nav a {
    font-size: 32px;
  }
}
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
}
header div.social-icons {
  z-index: 1;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
#animated-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.star {
  position: absolute;
  background: #e5989b;
  border-radius: 50%;
  animation: animStar linear infinite;
}

nav {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 2em 0;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
nav ul li {
  margin-right: 25px;
}
nav ul li:last-child {
  margin-right: 0;
}
nav a {
  transition: 0.5s;
  color: #6d6875;
}
nav a:hover {
  transition: 0.5s;
  color: #e5989b;
}

.nav-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

a.purchase {
  padding: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #6d6875;
  color: #e5989b;
  transition: 0.5s;
  display: none;
}
a.purchase svg {
  width: 32px;
  display: block;
}

a.purchase:hover {
  background-color: #e5989b;
  color: #6d6875;
}

@media (min-width: 1024px) {
  a.purchase {
    display: block;
  }
}
section#gallery {
  background-color: #F2F2F2;
}

.collage {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 10px;
  margin: 0 auto;
}

.collage img {
  width: 100%;
  height: auto;
}

.collage .main_photo {
  grid-column-end: span 2;
  grid-row-end: span 2;
}

section#about div.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
}
@media (min-width: 1024px) {
  section#about div.flex-container {
    flex-direction: row;
  }
  section#about div.flex-container div, section#about div.flex-container p {
    width: 100%;
  }
}
section#about img {
  width: 100%;
  border-radius: 50%;
}

span.signature {
  font-size: 48px;
  font-family: Thesignature;
}

section#products {
  background-color: #e5989b;
}
section#products div.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
  color: #fff;
}
section#products div.flex-container div {
  width: 100%;
  padding: 100px;
  background-color: #6d6875;
  box-shadow: 0px 10px 20px #6d6875;
  transition: all 0.2s ease-in;
}
section#products div.flex-container div svg {
  width: 50px;
}
section#products div.flex-container div h3 {
  margin: 20px 0;
}
section#products div.flex-container div ul {
  list-style: none;
}
section#products div.flex-container div:hover {
  background-color: white;
  cursor: pointer;
}
section#products div.flex-container div:hover * {
  color: #6d6875;
}
@media (min-width: 1024px) {
  section#products div.flex-container {
    flex-direction: row;
    gap: 20px;
  }
}

section#contact {
  background-color: #fff;
  color: #6d6875;
}
section#contact p.contact-info {
  text-align: center;
  margin-bottom: 100px;
}
section#contact div.flex-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: space-between;
}
section#contact div.flex-container div.widget {
  width: 100%;
}
section#contact div.flex-container div.widget h4 {
  text-align: center;
}
section#contact div.contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
section#contact div.contact-item svg {
  width: 24px;
}
section#contact div.contact-item p {
  margin-left: 10px;
}
section#contact div.acciones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  text-align: center;
}
section#contact div.acciones a {
  display: block;
  padding: 20px 40px;
  border-radius: 25px;
  width: 50%;
  background-color: #6d6875;
  color: #e5989b;
  transition: 0.5s;
  font-weight: bold;
}
section#contact div.acciones a:hover {
  background-color: #e5989b;
  color: #6d6875;
  transition: 0.5s;
}
section#contact div.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  box-sizing: border-box;
}
section#contact div.social-icons a {
  width: 20%;
}
section#contact div.social-icons a img {
  width: 100%;
}
@media (min-width: 1024px) {
  section#contact div.flex-container {
    flex-direction: row;
    gap: 100px;
  }
  section#contact p.contact-info {
    text-align: center;
    margin-bottom: 100px;
  }
}

div#map {
  height: 500px;
}
div#map iframe {
  width: 100%;
  height: 100%;
}

footer {
  padding: 2em 0;
  text-align: center;
  background-color: #6d6875;
  color: #fff;
}
footer a {
  text-decoration: none;
  font-weight: bold;
  color: #e5989b;
}
footer a:hover {
  text-decoration: underline;
}

a#btn-top {
  position: fixed;
  right: 20px;
  bottom: 20px;
  color: #555;
  z-index: 9999;
}

#btn-top svg {
  width: 32px;
  height: 32px;
}

.btn-top-hide {
  display: none;
}

.btn-top-show {
  display: block;
}

/*# sourceMappingURL=style.css.map */
